.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.post{
  margin-top: 50px;
  width: 500px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0 0 15px 15px !important;
  overflow: hidden;
}
.post:hover{
  cursor: pointer;
  transform: scale(1.005);
}
.title{
  background: rgb(75, 75, 236);
  box-shadow: rgba(29, 29, 32, 0.2) 0px 7px 29px 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: white;
}
.body{
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
  background: rgb(75, 75, 236);
  display: flex;
  align-items: center;
  height: 60px;
  color: white;
  padding-left: 15px;
}